/*HEADER*/

#navbar-header {
    background-color: black;
    /* width: 100%; */
    transition: top 0.3s;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#navbar-header h1 {
    color: whitesmoke;
    line-height: .75;
    font-size: 55px;
    font-family: 'Orbitron', sans-serif;
}

.navbar-brand {
    margin: 20px 0 0px 20px;
}

.link {
    width: 165px;
    text-align: center;
    margin-left: 15px;
    border-top: 3px solid #fcf133;
    border-bottom: 3px solid #fb872b;
    margin-top: 35px;
    color: whitesmoke;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
}

.link:hover,
.link:active {
    text-decoration: none;
    color: whitesmoke;
    box-shadow: 20px 0 20px -20px rgb(207, 162, 13) inset, -20px 0 20px -20px rgb(202, 199, 12) inset;
}

#navbar-map {
    background: url(../images/Main-content/mobile1.png) no-repeat;
    width: 96px;
    height: 96px;
}


/* 
#logo-img {
    background: url(../images/Logo/logoOriginal1.jpg) no-repeat;
    width: 150px;
    height: 130px;
    margin: 10px 10px 0px 20px;
    margin-bottom: -30px;
} */

#navbar-header {
    text-align: center;
}

p {
    color: whitesmoke;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 13px;
}


/*Кнопка меню*/

button#navbar-menu.navbar-toggler {
    border-top: 2px solid #fcf133;
    border-bottom: 2px solid #fb872b;
    border-radius: 0px;
}

#navbar-menu {
    margin-right: 20px;
}

button:focus {
    text-decoration: none;
    outline: #fcf133;
}

.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 2.5px;
    background-color: white;
    border-radius: 30px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}


/*The end of кнопка меню*/


/*END HEADER*/


/* BODY */


/* #firstImg {
    background: url(../images/Main-content/fog.png) no-repeat;
    width: 100%;
    height: 500px;
} */

.carousel-inner img {
    margin: 135px auto;
    margin-bottom: 70px;
}

.carousel-indicators li {
    position: relative;
    margin-top: -2vw;
    background-color: #fcf133;
    display: none;
}

#prevB,
#nextB {
    height: 4vw;
    width: 4vw;
}


/* Tabacos */

#tabak {
    color: white;
    font-size: 25px;
}

#features,
#ugoli,
#rent {
    color: white;
    font-size: 25px;
}

#line1,
#line2,
#line3,
#line4 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 -20px;
    color: black;
    font-size: 2vw;
}

p #line1-1,
#line2-2,
#line3-1,
#line4-2 {
    background: #fff;
    padding: 0 10px;
    float: left;
    margin-left: 100px;
}

p #line1-2,
#line2-1,
#line3-2,
#line4-1 {
    background: #fff;
    padding: 0 10px;
    float: right;
    margin-right: 100px;
}

.spoiler {
    display: block;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-size: 22px;
    padding: 10px 20px;
    background: black;
    color: #fff;
    /*font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;*/
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    margin-top: -19%;
    margin-left: 13%;
    display: inline-block;
    position: fixed;
    box-sizing: border-box;
}


/*#e6dd35cb*/

.btn:hover,
.btn:focus {
    box-shadow: 0 0 10px whitesmoke;
    text-shadow: 0 0 10px whitesmoke;
}

.spoiler input[type=checkbox] {
    display: none;
}

.Undertext {
    width: 26vw;
    height: 32.7vw;
    padding: 20px;
    border-radius: 14px;
    background-color: #88888198;
    text-align: center;
    /* display: inline-flexbox; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 70%;
    margin-right: -55%;
    margin-bottom: 2%;
    /* margin-top: 5%; */
    line-height: 30px;
}

.nameT {
    font-size: 23px;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    font-size: 2vw;
}

.priceT {
    font-size: 17px;
    text-align: right;
    padding-right: 11px;
    border-bottom: 2px solid whitesmoke;
    width: 100%;
    padding-bottom: 5px;
}

.priceT,
.nameT {
    background-color: #000000;
}

.taste {
    padding-top: 5px;
}

.taste,
.priceT {
    font-size: 1vw;
}

.spoiler input[type=checkbox]~.Undertext {
    display: none;
}

.spoiler input[type=checkbox]:hover~.Undertext {
    display: block;
}

.spoiler input[type=checkbox]:hover~.btn {
    display: none;
}

.ImgT {
    display: block;
}

.ImgT-2 {
    display: none;
}


/* End Tabacos */


/* ACSESSORIZE */

#nextT {
    /* background-color: black; */
    background-image: url(https://cdn.pixabay.com/photo/2016/04/07/18/57/arrow-1314470_960_720.png);
    width: 4vw;
    height: 4vw;
}

#prevT {
    background-image: url(https://cdn.pixabay.com/photo/2016/04/07/18/57/arrow-1314470_960_720.png);
    transform: rotate(180deg);
    width: 4vw;
    height: 4vw;
}

#carouselExampleIndicatorsT>img {
    margin-top: -40px;
}


/* END TOBACCO SLIDER*/


/* END tabak-block */


/* Accessorize SLIDER */

#features-block {
    background-color: lightgray;
    background: url(../images/Accessories/Aback.png);
    margin-top: 1.3%;
    height: 220px;
    text-align: center;
}

.containerTobacco {
    margin: 250px auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 400px;
}

.carouselTobacco {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

.a {
    transform: rotateY(0deg) translateZ(250px);
    background-color: #fcf133;
}

.acce {
    margin-top: -10%;
    border-radius: 20px;
}

.b {
    transform: rotateY(60deg) translateZ(250px);
    background: #0072bc;
}

.c {
    transform: rotateY(120deg) translateZ(250px);
    background: #39b54a;
}

.d {
    transform: rotateY(180deg) translateZ(250px);
    background: #f26522;
}

.e {
    transform: rotateY(240deg) translateZ(250px);
    background: #630460;
}

.f {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
}

.nextA {
    background: url(../images/Accessories/next.png);
    width: 96px;
    height: 96px;
    float: right;
    margin-top: -14%;
    margin-right: 10%;
}

.prevA {
    background: url(../images/Accessories/prev.png);
    /* border: 2px solid yellow; */
    width: 96px;
    height: 96px;
    float: left;
    margin-top: -14%;
    margin-left: 10%;
}

.prevA:hover {
    background: url(../images/Accessories/prevPressed.png);
    cursor: pointer;
}

.nextA:hover {
    background: url(../images/Accessories/nextPressed.png);
    cursor: pointer;
}

.prevA:active {}

.nextA:active {
    background: url(../images/Accessories/next.png);
}

.nextA {
    right: 5em;
}

.prevA {
    left: 5em;
}

#accessories {
    margin-bottom: 230px;
}


/* END ACCESSORIZE SLIDER */


/* UGOL */

#ugol-block {}

div#main-content.container {}

.row {
    padding: 0 auto;
    width: 100%;
    margin: 110px auto;
}

#sizeC1 {}

#sizeC2 {}

#carouselExampleIndicatorsC1 {}

#nextC1 {
    /* background-color: black; */
    background-image: url(https://cdn.pixabay.com/photo/2016/04/07/18/57/arrow-1314470_960_720.png);
    width: 4vw;
    height: 4vw;
}

#prevC1 {
    background-image: url(https://cdn.pixabay.com/photo/2016/04/07/18/57/arrow-1314470_960_720.png);
    transform: rotate(180deg);
    width: 4vw;
    height: 4vw;
}

#nextC2 {
    /* background-color: black; */
    background-image: url(https://cdn.pixabay.com/photo/2016/04/07/18/57/arrow-1314470_960_720.png);
    width: 4vw;
    height: 4vw;
}

#prevC2 {
    background-image: url(https://cdn.pixabay.com/photo/2016/04/07/18/57/arrow-1314470_960_720.png);
    transform: rotate(180deg);
    width: 4vw;
    height: 4vw;
}

.carousel-item-tobacco {
    transition: -webkit-transform .20s linear;
    transition: transform .20s linear;
    transition: transform .20s linear, -webkit-transform 0.6s linear;
}


/* END UGOL */


/* RENT */

#rent-block {
    position: absolute;
    background: url(../images/Hookah/back.png) no-repeat;
    width: 100%;
    margin-top: 7%;
    /* opacity: .3; */
}

#background-rent {
    position: absolute;
    background: black;
    height: 300px;
    width: 50%;
    margin-top: 7%;
    border-radius: 0 30px 30px 0;
}

.hookahh {
    /* border-radius: 10px;
     */
    margin-top: 0px;
}

#hookah-inf>h3 {
    margin-top: 5%;
    color: yellow;
    text-shadow: 1px 1px 2px #fcf133, 0 0 1em #fb872b;
    /*font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;*/
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8vw;
}

#information>span {
    color: whitesmoke;
}

#hookah-inf>p {
    padding: 5%;
    color: #fb872b;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    font-size: 1.2vw;
}

#hookah-inf {
    padding-top: 10%;
}


/* END RENT */


/* END BODY */


/*MEDIA*/


/* @media (max-width: 1430px) {
    .Undertext {
        width: 365px;
        padding: 20px;
        border-radius: 14px;
        background-color: #88888198;
        text-align: center;
        display: inline-flexbox;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-family: 'Montserrat Alternates', sans-serif;
        margin-left: 70%;
        margin-right: -55%;
        margin-bottom: 2%;
    }
} */

@media (max-width: 1281px) {
    .carousel-inner img {
        margin: 110px auto;
        margin-bottom: 45px;
    }
    .containerTobacco {
        width: 200px;
        height: 150px;
    }
}

@media(min-width:1161px) and (max-width: 1280px) {
    /* HEADER */
    #navbar-header h1 {
        font-size: 50px;
    }
    p {
        font-size: 15px;
        letter-spacing: 11px;
    }
    .navbar-brand {
        margin: 20px 0px 0px 0px;
    }
    .link {
        width: 150px;
        margin-left: 15px;
        margin-top: 30px;
        font-size: 14px;
    }
    #navbar-map {
        background: url(../images/Main-content/mobile2.png) no-repeat;
        width: 80px;
        height: 80px;
    }
    /* END HEADER */
    /* Body */
    .btn {
        padding: 10px 20px;
        cursor: pointer;
        margin-left: 12%;
    }
    .Undertext {
        margin-left: 70%;
        margin-right: -55%;
        margin-bottom: 0%;
    }
    /* #nameT {
        font-size: 20px;
    } */
    .containerTobacco {
        margin: 200px auto;
        width: 250px;
        height: 150px;
        perspective: 480px;
        /* margin-right: 0%; */
    }
    /* END BODY */
    /* ACCESSORIZE */
    .nextA {
        background: url(../images/Accessories/next.png);
        width: 96px;
        height: 96px;
        float: right;
        margin-top: -10%;
        margin-right: 10%;
    }
    .prevA {
        background: url(../images/Accessories/prev.png);
        /* border: 2px solid yellow; */
        width: 96px;
        height: 96px;
        float: left;
        margin-top: -10%;
        margin-left: 10%;
    }
    /* END ACCESSORIZE */
}

@media(max-width:1200px) {
    #rent-block {
        height: 72.5%;
    }
}

@media(min-width:1027px) and (max-width:1160px) {
    /* HEADER */
    #navbar-header h1 {
        font-size: 40px;
    }
    p {
        font-size: 12px;
        letter-spacing: 9px;
    }
    .navbar-brand {
        margin: 20px 0px 0px 0px;
    }
    .link {
        width: 130px;
        margin-left: 15px;
        margin-top: 30px;
        font-size: 12px;
        border-top: 2px solid #fcf133;
        border-bottom: 2px solid #fb872b;
    }
    #navbar-map {
        background: url(../images/Main-content/mobile2.png) no-repeat;
        width: 80px;
        height: 80px;
    }
    /* END HEADER */
    /* Body */
    .btn {
        font-size: 18px;
        padding: 10px 20px;
        cursor: pointer;
        margin-left: 12%;
    }
    .Undertext {
        margin-left: 70%;
        margin-right: -55%;
        margin-bottom: -2%;
    }
    /* .carousel-inner img {
        margin: 112px auto;
    } */
    .containerTobacco {
        margin: 180px auto;
        width: 250px;
        height: 150px;
        perspective: 480px;
        /* margin-right: 0%; */
    }
    /* ACCESSORIZE */
    .nextA {
        background: url(../images/Accessories/next.png);
        width: 96px;
        height: 96px;
        float: right;
        margin-top: 2%;
        margin-right: 40%;
    }
    .prevA {
        background: url(../images/Accessories/prev.png);
        /* border: 2px solid yellow; */
        width: 96px;
        height: 96px;
        float: left;
        margin-top: 2%;
        margin-left: 40%;
    }
    /* END ACCESSORIZE */
    /* END BODY */
}

@media(min-width:992px) and (max-width:1026px) {
    /* HEADER */
    #navbar-header h1 {
        font-size: 35px;
    }
    p {
        font-size: 12px;
        letter-spacing: 7px;
    }
    .navbar-brand {
        margin: 20px 0px 0px 0px;
    }
    .link {
        width: 130px;
        margin-left: 15px;
        margin-top: 30px;
        font-size: 12px;
        border-top: 2px solid #fcf133;
        border-bottom: 2px solid #fb872b;
    }
    #navbar-map {
        background: url(../images/Main-content/mobile2.png) no-repeat;
        width: 80px;
        height: 80px;
    }
    .btn {
        font-size: 17px;
        padding: 10px 20px;
        cursor: pointer;
        margin-left: 12%;
    }
    .Undertext {
        margin-left: 70%;
        margin-right: -55%;
        margin-bottom: -4%;
        padding: 12px;
    }
    .nameT {
        font-size: 16px;
        line-height: 22px;
    }
    .priceT {
        font-size: 14px;
        line-height: 19px;
    }
    .containerTobacco {
        margin: 180px auto;
        width: 250px;
        height: 150px;
        perspective: 480px;
        /* margin-right: 0%; */
    }
    .nextA {
        background: url(../images/Accessories/next.png);
        width: 96px;
        height: 96px;
        float: right;
        margin-top: 2%;
        margin-right: 38%;
    }
    .prevA {
        background: url(../images/Accessories/prev.png);
        /* border: 2px solid yellow; */
        width: 96px;
        height: 96px;
        float: left;
        margin-top: 2%;
        margin-left: 38%;
    }
}

@media(max-width:992px) {
    /* HEADER */
    #navbar-header h1 {
        font-size: 30px;
    }
    .link {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid #fcf133;
        border-bottom: 0px;
    }
    .nav-link {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid #fcf133;
        border-bottom: 0px;
    }
    #navbar-map {
        background: url(../images/Main-content/mobile3.png) no-repeat;
        width: 60px;
        height: 60px;
        margin: 0 auto;
    }
    .link:hover,
    .link:active {
        text-decoration: none;
        color: whitesmoke;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
        box-shadow: none;
    }
    p {
        font-size: 10px;
        letter-spacing: 7px;
    }
    /* END HEADER */
    /* Body */
    .btn {
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        margin-left: 10%;
    }
    .Undertext {
        margin-left: 70%;
        margin-right: -55%;
        margin-bottom: -6%;
        padding: 9px;
    }
    .taste {
        line-height: 25px;
    }
    .nameT {
        font-size: 16px;
        line-height: 22px;
    }
    .priceT {
        font-size: 14px;
        line-height: 19px;
    }
    .carousel-inner img {
        margin: 100px auto;
    }
    .containerTobacco {
        margin: 160px auto;
        width: 250px;
        height: 150px;
        perspective: 480px;
        /* margin-right: 0%; */
    }
    /* END BODY */
    .nextA {
        background: url(../images/Accessories/next.png);
        width: 96px;
        height: 96px;
        float: right;
        margin-top: 4%;
        margin-right: 38%;
    }
    .prevA {
        background: url(../images/Accessories/prev.png);
        width: 96px;
        height: 96px;
        float: left;
        margin-top: 4%;
        margin-left: 38%;
    }
    #rent-block {
        position: absolute;
        background: url(../images/Hookah/back-md.png) no-repeat;
        width: 100%;
        height: 129%;
        margin-top: 7%;
        /* opacity: .3; */
    }
    #background-rent {
        width: 100%;
        border-radius: 0;
    }
    #hookah-img {
        text-align: center;
    }
    #hookah-rent {
        width: 65%;
        height: 65%;
    }
    #hookah-inf>h3 {
        margin-top: 5%;
        font-size: 2.8vw;
        text-align: center;
    }
    #hookah-inf>p {
        padding: 3%;
        text-align: center;
        font-size: 1.6vw;
    }
    #hookah-inf {
        padding-top: 10%;
    }
}

@media (max-width: 860px) {
    .taste {
        line-height: 22px;
    }
    .Undertext {
        margin-bottom: -10%;
        padding: 9px;
    }
    .nameT {
        font-size: 15px;
        line-height: 22px;
    }
    .priceT {
        font-size: 13px;
        line-height: 18px;
    }
    .containerTobacco {
        margin: 150px auto;
        width: 250px;
        height: 150px;
        perspective: 500px;
        /* margin-right: 0%; */
    }
    .nextA {
        background: url(../images/Accessories/next.png);
        width: 96px;
        height: 96px;
        float: right;
        margin-top: 4%;
        margin-right: 36%;
    }
    .prevA {
        background: url(../images/Accessories/prev.png);
        width: 96px;
        height: 96px;
        float: left;
        margin-top: 4%;
        margin-left: 36%;
    }
}

@media(max-width:767px) {
    p #line1-1,
    #line2-1,
    #line3-1,
    #line4-1 {
        display: none;
    }
    #tabak {
        text-align: center;
        font-size: 22px;
    }
    p #line1-2,
    #line2-2,
    #line3-2,
    #line4-2 {
        float: none;
        margin-right: 0;
        margin-left: 0;
    }
    .btn {
        font-size: 15px;
        padding: 10px 20px;
        cursor: pointer;
    }
    .taste {
        line-height: 20px;
    }
    .nameT {
        font-size: 15px;
        line-height: 20px;
    }
    .Undertext {
        margin-bottom: -10%;
        padding: 9px;
    }
    .btn {
        margin-top: -15%;
    }
    .nameT {
        font-size: 15px;
        line-height: 19px;
    }
    .priceT {
        font-size: 13px;
        line-height: 17px;
    }
    .containerTobacco {
        margin: 150px auto;
        width: 250px;
        height: 150px;
        perspective: 550px;
        /* margin-right: 0%; */
    }
    .nextA {
        background: url(../images/Accessories/next.png);
        width: 96px;
        height: 96px;
        float: right;
        margin-top: 2%;
        margin-right: 33%;
    }
    .prevA {
        background: url(../images/Accessories/prev.png);
        width: 96px;
        height: 96px;
        float: left;
        margin-top: 2%;
        margin-left: 33%;
    }
    #rent-block {
        position: absolute;
        background: url(../images/Hookah/back-md.png) no-repeat;
        width: 100%;
        height: 95%;
        margin-top: 13%;
        /* opacity: .3; */
    }
}

@media(max-width:730px) {
    .Undertext {
        margin-top: -22%;
        padding: 9px;
    }
    .nameT {
        font-size: 14px;
        line-height: 18px;
    }
    .priceT {
        font-size: 12px;
        line-height: 16px;
    }
}

@media(max-width:705px) {
    .Undertext {
        margin-bottom: -17%;
        padding: 7px;
    }
    .taste {
        line-height: 18px;
    }
    .nameT {
        font-size: 13px;
        line-height: 18px;
    }
    .priceT {
        font-size: 11px;
        line-height: 16px;
    }
    .containerTobacco {
        margin: 130px auto;
        width: 250px;
        height: 150px;
        perspective: 700px;
        /* margin-right: 0%; */
    }
}

@media(max-width:630px) {
    /* .carousel-inner img {
        margin: 106px auto;
        margin-bottom: 0;
    } */
    .Undertext {
        padding: 5px;
        margin-bottom: -30px;
    }
    .btn {
        margin-bottom: -15%;
        font-size: 14px;
        margin-left: 8%;
    }
    .nameT {
        font-size: 11px;
        line-height: 16px;
        padding-bottom: 0px;
    }
    .priceT {
        font-size: 11px;
        line-height: 16px;
    }
    .containerTobacco {
        margin: 90px auto;
        width: 250px;
        height: 150px;
        perspective: 4000px;
        /* margin-right: 0%; */
    }
    .carouselTobacco {
        margin-top: 7.5px;
    }
    /* ACCESSORIZE */
    .nextA {
        background: url(../images/Accessories/next-sm.png);
        width: 64px;
        height: 64px;
        float: right;
    }
    .prevA {
        background: url(../images/Accessories/prev-sm.png);
        width: 64px;
        height: 64px;
        float: left;
    }
    .prevA:hover {
        background: url(../images/Accessories/prev-sm-Pressed.png);
        cursor: pointer;
    }
    .nextA:hover {
        background: url(../images/Accessories/next-sm-Pressed.png);
        cursor: pointer;
    }
    /* END ACCESSORIZE */
}

@media(max-width: 580px) {
    #rent-block {
        position: absolute;
        background: url(../images/Hookah/back-md.png) no-repeat;
        width: 100%;
        height: 95vw;
        margin-top: 15%;
        /* opacity: .3; */
    }
    #background-rent {
        margin-top: 7%;
        height: 30%;
    }
    #hookah-inf>h3 {
        margin-top: 0;
    }
}

@media(max-width:440px) {
    #navbar-header {}
    span.carousel-control-next-icon,
    span.carousel-control-prev-icon {
        margin-top: 50px;
    }
    .ImgT {
        display: none;
    }
    .ImgT-2 {
        display: block;
    }
    p #line1-2,
    #line2-2,
    #line3-2,
    #line4-2 {
        font-size: 15px;
    }
    .Undertext {
        padding: 20px;
        border-radius: 14px;
        background-color: black;
        /* display: inline-flexbox; */
        margin-left: 1%;
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: -18%;
        /* margin-top: 5%; */
        width: 100%;
        padding: 6px;
        height: 250px;
    }
    .btn {
        margin-left: -11%;
        margin-top: 2%;
        font-size: 9px;
    }
    .nameT {
        background-color: #88888198;
        font-size: 15px;
        line-height: 18px;
        width: 200px;
    }
    .priceT {
        background-color: #88888198;
        font-size: 15px;
        line-height: 18px;
        padding-bottom: 5px;
    }
    .carousel-inner img {
        margin: 106px auto;
        margin-bottom: 0;
    }
    #carouselExampleIndicatorsT img {
        margin: 50px auto;
        margin-bottom: 0;
    }
    .a {
        transform: rotateY(0deg) translateZ(217px);
    }
    .b {
        transform: rotateY(60deg) translateZ(217px);
    }
    .c {
        transform: rotateY(120deg) translateZ(217px);
    }
    .d {
        transform: rotateY(180deg) translateZ(217px);
    }
    .e {
        transform: rotateY(240deg) translateZ(217px);
    }
    .f {
        transform: rotateY(300deg) translateZ(217px);
    }
    .containerTobacco {
        margin: 60px auto;
        width: 250px;
        height: 210px;
        perspective: 4000px;
        overflow: hidden;
        border-radius: 20px;
        /* margin-right: 0%; */
    }
    #features-block {
        background-color: rgb(126, 78, 78);
        background: url(../images/Main-content/lighter.jpg);
        margin-top: 0%;
        height: 210px;
    }
    .carouselTobacco {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s;
        margin-top: 7px;
    }
    /* ACCESSORIZE */
    .nextA {
        background: url(../images/Accessories/next-xs.png);
        width: 38px;
        height: 38px;
        margin-right: 40%;
        margin-top: -55px;
    }
    .prevA {
        background: url(../images/Accessories/prev-xs.png);
        width: 38px;
        height: 38px;
        margin-left: 40%;
        margin-top: -55px;
    }
    .prevA:hover {
        background: url(../images/Accessories/prev-xs-Pressed.png);
        cursor: pointer;
    }
    .nextA:hover {
        background: url(../images/Accessories/next-xs-Pressed.png);
        cursor: pointer;
    }
    #accessories {
        margin-bottom: 22px;
    }
    /* END ACCESSORIZE */
    #rent-block {
        position: absolute;
        background: url(../images/Hookah/back-md.png) no-repeat;
        width: 100%;
        height: 120vw;
        margin-top: 15%;
        /* opacity: .3; */
    }
    #background-rent {
        height: 50%;
    }
    #hookah-rent {
        border-radius: 30px;
    }
    #hookah-inf>h3 {
        font-size: 4.2vw;
    }
    #hookah-inf>p {
        font-size: 3vw;
    }
}

@media(max-width:376px) {
    .Undertext {
        padding: 20px;
        border-radius: 14px;
        background-color: black;
        /* display: inline-flexbox; */
        margin-left: 1%;
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: -18%;
        /* margin-top: 5%; */
        width: 100%;
        padding: 6px;
        height: 220px;
    }
    .btn {
        margin-left: -11%;
        margin-top: 3%;
        font-size: 9px;
    }
    /* ACCESSORIZE */
    .nextA {
        background: url(../images/Accessories/next-xs.png);
        width: 38px;
        height: 38px;
        margin-right: 38%;
        margin-top: -55px;
    }
    .prevA {
        background: url(../images/Accessories/prev-xs.png);
        width: 38px;
        height: 38px;
        margin-left: 38%;
        margin-top: -55px;
    }
    .prevA:hover {
        background: url(../images/Accessories/prev-xs-Pressed.png);
        cursor: pointer;
    }
    .nextA:hover {
        background: url(../images/Accessories/next-xs-Pressed.png);
        cursor: pointer;
    }
    /* END ACCESSORIZE */
    #rent-block {
        position: absolute;
        background: url(../images/Hookah/back-md.png) no-repeat;
        width: 100%;
        height: 120vw;
        margin-top: 15%;
        /* opacity: .3; */
    }
    #hookah-inf>h3 {
        font-size: 4.2vw;
    }
    #hookah-inf>p {
        font-size: 3vw;
    }
}

@media(max-width:321px) {
    .Undertext {
        padding: 20px;
        border-radius: 14px;
        background-color: black;
        /* display: inline-flexbox; */
        margin-left: 1%;
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: -19%;
        /* margin-top: 5%; */
        width: 100%;
        padding: 6px;
        height: 190px;
    }
    .btn {
        margin-left: -14%;
        margin-top: 5%;
        font-size: 9px;
    }
    /* ACCESSORIZE */
    .nextA {
        background: url(../images/Accessories/next-xs.png);
        width: 38px;
        height: 38px;
        margin-right: 37%;
        margin-top: -55px;
    }
    .prevA {
        background: url(../images/Accessories/prev-xs.png);
        width: 38px;
        height: 38px;
        margin-left: 37%;
        margin-right: 0%;
        margin-top: -55px;
    }
    .prevA:hover {
        background: url(../images/Accessories/prev-xs-Pressed.png);
        cursor: pointer;
    }
    .nextA:hover {
        background: url(../images/Accessories/next-xs-Pressed.png);
        cursor: pointer;
    }
    /* END ACCESSORIZE */
}